<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/images/sourabh1.jpg" style="width:100%;" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2 style="color:white">Sourabh Jagtap</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Pune, India</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>sourabhjagtap95@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+91 (8149) 531937</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Web Skills</b></p>
          <p>Angular JS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>          
          <p>Node JS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>          
          <p>PHP</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>HTML</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>JavaScript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <br>
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Core Skills</b></p>
          <p>C</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>C++</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">
              <div class="w3-center w3-text-white">90%</div>
            </div>
          </div>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>Operating Systems (Linux)</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <p>Networking</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>Hindi</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:90%"></div>
          </div>
          <p>Marathi</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:80%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Facebook Gallery Album App</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>It is a Web based Project which loads all of yours Facebook Album Photos and display it in Gallery View. You can transfer all of your Album Photos to Google Picasa Web Album on one Click. You can download all of your photos in your device. This App enables you to download photos and collect them all in a single zip file that can be easily be stored in your device. </p>
          <p class="w3-text-teal"><i class="fa fa-laptop fa-fw w3-margin-right" aria-hidden="true" ></i><a style="text-decoration:none" target="_blank" href="https://facebookgalleryapp.herokuapp.com">Facebook Gallery App&nbsp;<i class="fa fa-external-link fa-fw" aria-hidden="true"></i></a></p>
          <p class="w3-text-teal"><i class="fa fa-fw fa-github w3-margin-right" aria-hidden="true"></i>Github <a style="text-decoration:none" target="_blank" href="https://github.com/sourabhjagtap95/Facebook_Album_App">&nbsp;<i class="fa fa-external-link fa-fw" aria-hidden="true"></i></a></p>
          <p class="w3-text-teal"><i class="fa fa-fw w3-margin-right fa-desktop" aria-hidden="true"></i>Web Languages: HTML, CSS, JavaScript, PHP</p>
          <p class="w3-text-teal"><i class="fa fa-fw w3-margin-right fa-pencil-square-o" aria-hidden="true"></i>Frameworks : <span class="w3-text-teal">Twitter-BootStrap, OAuth 2.0, Facebook Developer APIs, Google APIs, Zend Gdata Framework, Picasa Web Album APIs</span</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>College Attendance Management System</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct 2016 - Dec 2016</h6>
          <p>It is a Web based project which manages attendance of every student. Teachers can enter the attendance online on any device (PC or mobile) and is refelcted dynamically on the site. Students can view their attendance regularly (may be because to plan the future bunks :P). 
          </p>
          <p class="w3-text-teal"><i class="fa fa-fw fa-github w3-margin-right" aria-hidden="true"></i>Github <a style="text-decoration:none" target="_blank" href="https://github.com/sourabhjagtap95/Student_Attendance_System">&nbsp;<i class="fa fa-external-link fa-fw" aria-hidden="true"></i></a>
          </p>
          <p class="w3-text-teal"><i class="fa fa-fw w3-margin-right fa-desktop" aria-hidden="true"></i>Web Languages: HTML, CSS, JavaScript, PHP</p>
          <p class="w3-text-teal"><i class="fa fa-fw w3-margin-right fa-pencil-square-o" aria-hidden="true"></i>Frameworks : Twitter-BootStrap</p>
          <p class="w3-text-teal"><i class="fa fa-fw w3-margin-right fa-database" aria-hidden="true"></i>Database : MySQL </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Mobile IaaS</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2016 - Jun 2017</h6>
          <p>
            It is a final year project which provides Infrastructure as a Service to Multiple Clients. This software lets you to store data on different devices connected to different networks. This also works in wireless mode which also allows you to retrieve data simultaneously 
            on the server side. This software divides the data into various chunks and distribute to connected clients using Erasor Algorithm. 
          </p>
          <p class="w3-text-teal"><i class="fa fa-fw w3-margin-right fa-desktop" aria-hidden="true"></i>Languages: Python</p>
          <p class="w3-text-teal"><i class="fa fa-fw w3-margin-right fa-pencil-square-o" aria-hidden="true"></i>Frameworks : Erasor, Create_ap</p>
          <br>
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-address-card-o fa-fw w3-margin-right w3-xxlarge w3-text-teal" aria-hidden="true"></i>Certifications</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Microsoft Technology Associate (MTA)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Cybrary - Fundamental Linux Administration  </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p class="w3-text-teal"><i class="fa fa-fw w3-margin-right fa-certificate" aria-hidden="true"></i>Certificate Number - SC-550abee32-31c7f</p>
          <p class="w3-text-teal"> <i class="fa fa-fw w3-margin-right fa-desktop" aria-hidden="true"></i><a style="text-decoration:none" href="https://www.cybrary.it/skillcert/fundamental-linux-administration-certification/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B7HWMHp4iQy2WlRDJEnog0w%3D%3D" target="_blank">See the Certificate &nbsp;<i class="fa fa-external-link fa-fw" aria-hidden="true"></i></a> </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>TestDome - Java </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p class="w3-text-teal"><i class="fa fa-fw w3-margin-right fa-certificate" aria-hidden="true"></i>Certificate Number - edw2b2gncm</p>
          <p class="w3-text-teal"> <i class="fa fa-fw w3-margin-right fa-desktop" aria-hidden="true"></i><a style="text-decoration:none" href="https://www.testdome.com//cert/edw2b2gncm?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BOIlxzFKETZeIvjwFgzOh8g%3D%3D" target="_blank">See the Certificate &nbsp;<i class="fa fa-external-link fa-fw" aria-hidden="true"></i></a> </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Cybrary - TCP/IP  </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p class="w3-text-teal"><i class="fa fa-fw w3-margin-right fa-certificate" aria-hidden="true"></i>Certificate Number - SC-075dbe913-a4231</p>
          <p class="w3-text-teal"> <i class="fa fa-fw w3-margin-right fa-desktop" aria-hidden="true"></i><a style="text-decoration:none" href="https://www.cybrary.it/skillcert/tcp-ip-certification/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Bu79mS0RiS4iXzAcoeb%2Fewg%3D%3D" target="_blank">See the Certificate &nbsp;<i class="fa fa-external-link fa-fw" aria-hidden="true"></i></a> </p>
          <br>
        </div>
        <br>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <a target="_blank" href="https://facebook.com/sourabhjagtap08" class="fa fa-facebook round"></a>
  <a target="_blank" href="https://twitter.com/sourabh_1995" class="fa fa-twitter round"></a>
  <a target="_blank" href="https://github.com/sourabhjagtap95" id="github" class="fa fa-github round"></a>
  <a target="_blank" href="https://www.linkedin.com/in/sourabh-jagtap-b4a394b3" class="fa fa-linkedin round"></a>
</footer>
